.product {
    flex: 4;
    padding: 20px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}